body {
  margin: 0;
  width: 100%;
  height: 100vh;
  position:relative;
  background-color: #1f1f1ff8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body.background-active {
  background-image: url('imagens/centro.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

#message {
  font-size: 24px;
  color: #01b224f8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  display: none; /* Oculta a imagem inicialmente */
}
