body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
    transition: background-image 0.5s ease;
  }
  
  body.background-active {
    height: 100vh;
    margin: 0; 
    background-image: url('imagens/pexels-arindam-2213575.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

  #message {
    font-size: 24px;
    color: #333;
  }
  